@charset "UTF-8";
/*header*/
li{
	list-style:none;
}
a{
	color:black;
	text-decoration: none;
}
#headerContainer{
	margin : 0 auto;
	max-width:1200px;
	height:150px;
	z-index:100;
}
.head>a>img{
	height:80px;
}
.header{
	display:flex;
	justify-content:space-between;
	min-width:700px;
	border-bottom:2px solid gray;
}
.header>ul{
	height:100%;
    flex-basis: 33%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.leftPosition{
	max-width:800px;
	min-width:500px;
}
.header>ul>li{
	font-size:1.3em;
}
.head{
	display:flex;
	justify-content:space-between;
}
.searchBox{
	margin-top:auto;
	margin-bottom:auto;
}
.searchInput{
	height:40px;
	width:400px;
	border:none;
	border-radius:30px;
	background-color:#EAEAEA;
}
.searchButton{
	border:none;
	background-color:white;
	font-size:20px;
}
.rightPosition{
	max-width:100px;
	min-width:100px;
}
.login{
	font-size:0.8em;
}

/*article*/
article{
	max-width:1200px;
	margin:0 auto;
}
.banner{
	margin:15px auto;
	margin-bottom:50px;
}
.banner>img{
	width:1200px;
}

/*img wrap and slide(5/15)*/
.rank, .newProduct{
	display:flex;
	margin-bottom:150px;
}
.productItem>img{
	width:250px;
	height:250px;
	margin-bottom:15px;
	transition: transform 0.3s ease-in-out;
}
.productItem>img:hover{
	transform: scale(1.1);
}
#mainImgs{
	display:flex;
	overflow:hidden;
}
.imgWrap{
	display:flex;
	transition : transform 0.05s ease-in-out;
}
.productItem{
	/*
	margin-left:17px;
	margin-right:17px;
	*/
	margin : 0 16;
}
.pageButton{
	font-size:2em;
	color:gray;
	background-color:white;
	width:40px;
	height:40px;
	padding:10px;
	border-radius:30px;
	border:none;
	margin:auto 0;
}
.pageButton:hover{
	corsor:pointer;
	color:FF90BC;
}
.rank .newProduct{
	margin-top:20px;
	margin-bottom:20px;
}
/*review*/
.review{
	display:flex;
	margin-bottom:150px;
}
.reviewBox{
	margin-left:5px;
	margin-right:5px;
}
.profile{
	display:flex;
	justify-content:space-between;
	margin-bottom:10px;
}
.profile>li{
	font-size:0.8em;
}
.reviewTitle{
	font-weight:bold;
	margin-bottom:8px;	
}
.reviewBox{
	width:250px;
	height:150px;
	padding:15px;
	background-color:#EEEEEE;
	border-radius:10px;
}
.reviewContent{
	font-size:0.9em;
	color:gray;
	margin-bottom:10px;
	height:60px;
	overflow:hedden;
}
.reviewProduct{
	font-size:0.9em;
	font-weight:bold;
	bottom:0;
}
/*footer*/
.footerTop{
	width:100%;
	background-color:FF90BC;
}
.footerTop>div{
	padding-left:50px;
	padding-right:50px;
	padding-bottom:20px;
	margin: 0 auto;
}
.footerTop-Content{
	justify-content: center;
	display:flex;
	margin : 10 auto;
}
.benefit{
	padding-left:200px;
	padding-top:50px;
	color:white;
	text-shadow: 0px 3px 3px gray;
}
.shadow{
	font-size:1.4em;
	color:white;
	text-shadow: 0px 3px 3px gray;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;
	text-align:center;
}
.rightLine{
	border-right:2px solid white;
}
.footerBottom{
	height:100px;
	background-color:F1F1F1;
}
.footerBottom>h3{
	width:100px;
	padding-top:40px;
	margin : auto;
}